<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.ianhe.jeeves.dao.WechatMsgMapper">
  <resultMap id="BaseResultMap" type="me.ianhe.jeeves.entity.WechatMsg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="display_from_name" jdbcType="VARCHAR" property="displayFromName" />
    <result column="msg_type" jdbcType="INTEGER" property="msgType" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="private_msg" jdbcType="BIT" property="privateMsg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, display_from_name, msg_type, content, create_time, url, file_name, private_msg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_wechat_msg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_wechat_msg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="me.ianhe.jeeves.entity.WechatMsg" useGeneratedKeys="true">
    insert into t_wechat_msg (display_from_name, msg_type, content, 
      create_time, url, file_name, 
      private_msg)
    values (#{displayFromName,jdbcType=VARCHAR}, #{msgType,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{url,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, 
      #{privateMsg,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="me.ianhe.jeeves.entity.WechatMsg" useGeneratedKeys="true">
    insert into t_wechat_msg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="displayFromName != null">
        display_from_name,
      </if>
      <if test="msgType != null">
        msg_type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="privateMsg != null">
        private_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="displayFromName != null">
        #{displayFromName,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="privateMsg != null">
        #{privateMsg,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.ianhe.jeeves.entity.WechatMsg">
    update t_wechat_msg
    <set>
      <if test="displayFromName != null">
        display_from_name = #{displayFromName,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        msg_type = #{msgType,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="privateMsg != null">
        private_msg = #{privateMsg,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.ianhe.jeeves.entity.WechatMsg">
    update t_wechat_msg
    set display_from_name = #{displayFromName,jdbcType=VARCHAR},
      msg_type = #{msgType,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      private_msg = #{privateMsg,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>